@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.header--title {
    font-family: 'Varela+Round', sans-serif;
    color: white;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    border: 25px solid white;
    grid-area: header;
    
}
